.App {
  text-align: center;
}

img:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

section:nth-child(2) {
  margin: 40px;
}

section ul {
  list-style-type: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  display: flex;
  justify-content: space-around;
}

.work-history-items h2 {
  display: flex;
  justify-content: flex-start;
}

.work-history-items p {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-style: italic;
}

.work-history-items ul {
  list-style-type: square;
  margin: 0;
  padding: 5px 50px;
  text-align: left;
}

.work-history-items li {
  margin: 5px;
}

